/* donate.css */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
  }
  
  .donate-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .donate-box {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 40px;
    text-align: center;
    max-width: 500px;
    width: 100%;
  }
  
  h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #3e3e3e;
  }

  a1 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #2bb75c;
  }
  #account-number {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 40px;
    color: #FFD700;
  }
  
  .donate-button {
    display: inline-block;
    background-color: #FFD700;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 15px 30px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .donate-button:hover {
    background-color: #FFD700;
  }
/* donate.css */
.donate-button {
    display: inline-block;
    background-color: #FFD700; /* 골드 색상 */
    color: #333;
    font-size: 24px;
    font-weight: bold;
    padding: 20px 40px;
    border: none;
    border-radius: 50px; /* 둥근 모서리 */
    text-decoration: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* 그림자 효과 */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .donate-button:hover {
    transform: translateY(-5px); /* 버튼이 위로 살짝 올라가는 효과 */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); /* 그림자 효과 증가 */
  }
  